<html>
    <head>
        <title>QuizOrbit</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link type="text/css" rel="stylesheet" href="../public/index.css">
        <script>
            setTimeout(()=>{
            let welcomemsg=document.getElementById('welcomemsg')
            welcomemsg.classList.add('disappear')
            
           },2000)
           homelogo=()=>{
            window.location.href="https://quiz-production-db73.up.railway.app/"
           }
           function userportal(){
            window.location.href="https://quiz-production-db73.up.railway.app/userportal"
           }
        </script>
    </head>
    <body>
                          
        <nav class="bg-slate-200 flex flex-row" >
            <img src="../public/images/QuizOrbit.png" class="w-24 cursor-pointer" onclick="homelogo()">
            <div class="ml-auto flex flex-row">
                    <button class="btn" onclick="window.location.href='/logout'">LogOut</button>
                    <img  src="../public/images/user.png" class="w-12 h-11 mt-3 mr-3 ml-3 cursor-pointer bg-slate-950 rounded-full" onclick="userportal()">
                    </div>
                
            
        </nav>
      <div class="bg-slate-200 mt-2">
        <%var i=0%>
            <%var marks=0%>
            <%while(i < qs.length){%>
                <%if(Correct[i]==answers[i]){%>
                    <%marks=marks+1%>
                    <%}else{%>
                        <%}%>
<%i=i+1%>
                <%}%>
        <h1 class="font-semibold text-2xl text-center mt-2">Topic:- <%=questions[0].topic%></h1>
        <h1 class="font-semibold text-2xl text-center mt-2 ">Uploaded By:- <%=questions[0].UploadedBy%></h1>
        <h1 class="font-semibold text-2xl text-center mt-2">Marks:- <%=marks%>/<%=i%></h1>  
            
<%var count=0%>
        <div class="flex flex-col" >
        <%while(count < qs.length){%>
            <%if(Correct[count]==answers[count]){%>
                
                <div class="bg-green-500 flex flex-col border-2 border-solid border-slate-950 mt-10 mb-2" id="questions">
                    <label class="font-bold text-xl mt-10"> Question <%=count+1%>:- <%=qs[count]%></label>
                        
                        <div class="flex flex-col p-1 mt-5">
                            <span class="w-max flex flex-col justify-center mb-2 mr-2 font-semibold">Correct Answer:- <%=Correct[count]%></span>
                            <span class="w-max flex flex-col justify-center mr-2 font-semibold">Your Answer:- <%=answers[count]%></span>
                        
                        </div>
                </div>
                <%}else{%>
                    <div class="bg-red-500 flex flex-col border-2 border-solid border-slate-950 mt-10 mb-2" id="questions">
                        <label class="font-bold text-xl mt-10"> Question <%=count+1%>:- <%=qs[count]%></label>
                            
                            <div class="flex flex-col p-1 mt-5">
                                <span class="w-max flex flex-col justify-center mb-2 mr-2 font-semibold">Correct Answer:- <%=Correct[count]%></span>
                                <span class="w-max flex flex-col justify-center mr-2 font-semibold">Your Answer:- <%=answers[count]%></span>
                            
                            </div>
                    </div>
                    <%}%>
                
           


            <%count=count+1%>
            <%}%>      
            </div>
      </div>
    </body>
</html>